<!DOCTYPE html>
<html lang="en">
<head>
    <title>Auto Stack Overflow Search Tool</title>
  <%- include('../partials/head'); %>
</head>
<body class="container" id="top">

<header>
  <link rel="stylesheet" href="css/base.css">  
   <link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/vendor.css">   
</header>

<section id="intro">   

  <div class="intro-overlay"></div>	

  <div class="intro-content">
    <div class="row">

      <div class="col-twelve">

        <h1>Auto Stack Overflow Search Tool</h1>
        <h5>Data Science Project 3</h5>
     
        <h4>Please Upload a Python file having errors and we'll automatically redirect you to some stack overflow pages which might help you.</h4>
        <form action="/upload-py" method="post" enctype="multipart/form-data">
          <input type="file" class="stroke" name="upload" >
          <br>
          <br>
          <input type="submit" class="button stroke" value="Upload">
        </form>

      </div>  
      
    </div>   		 		
  </div>

</section> 
</body>
<script>
  var test = '<%- data %>';
  if(test.length>5){
    const arr = test.split(",")
  console.log(arr.length)
  arr.forEach(url =>{
    window.open(url)
  })
  }
</script>
</html>